:root {
  --hacker-background-color: black;
  --hacker-font-color: rgb(48, 235, 23);
  --hacker-shadow-color: rgba(62, 112, 50, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DotGothic16', sans-serif;
  background-color:var(--hacker-background-color);
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: var(--hacker-font-color);
}

.card {
  background-color: (var(--hacker-background-color));
  border-radius: 5px;
  border-width: 1px;
  box-shadow: var(--hacker-shadow-color) 0px 0px 8px 5px;
  color: var(--hacker-font-color);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header {
  text-align: center;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--hacker-background-color);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: var(--hacker-background-color);
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  font-family: 'DotGothic16', sans-serif;
  border: none;
  background-color:  var(--hacker-font-color);
  border-radius: 25px;
  box-shadow: var(--hacker-shadow-color) 0px 0px 6px 3px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: 2px;
  background-color: var(--hacker-background-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  color: var(--hacker-font-color);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--hacker-font-color);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}
::placeholder { 
  color: var(--hacker-font-color);
  opacity: 1;
  font-family: 'DotGothic16', sans-serif;

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
